# 认证， 通过LDAP进行认证登陆
LDAP_SERVER = 'ldap://ldap.xxx.com'			# LDAP服务器地址
LDAP_SERVER_PORT = '389'					# LDAP服务器端口
LDAP_CONFIG = ',ou=users,dc=ipo,dc=com'		# LDAP 认证配置


# 设置默认用户账号，密码，邮箱。
# 默认系统管理员用户，应用启动后可直接用管理员用户登录,
DEFAULT_ADMIN_USERNAME = 'admin'   
DEFAULT_ADMIN_PASSWD = 'admin123'
DEFAULT_ADMIN_EMAIL = 'xxxx@gmail.com'


# 数据库配置
##############  如用Docker方式部署，此处可忽略  ################
DB_HOST = '1.1.1.1'							# Mysql IP地址
DB_USERNAME = 'mysql_user'					# Mysql 用户名
DB_PASSWORD = 'mysql_passwd'				# Mysql 密码
DB_NAME = 'peb_dns_test_db'					# Mysql 数据库实例名
########################################################


# sqlalchemy ORM框架默认参数配置，可保持以下默认值即可
SQLALCHEMY_ECHO = False
SQLALCHEMY_POOL_SIZE = 10
SQLALCHEMY_POOL_RECYCLE = 300
SQLALCHEMY_COMMIT_ON_TEARDOWN = False
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_RECORD_QUERIES = True

# ETCD 配置文件
##############  如用Docker方式部署，此处可忽略  ################
ETCD_SERVER_HOST = '2.2.2.2'				# ETCD Server IP 地址
ETCD_SERVER_PORT = 2379						# ETCD Server 端口号
########################################################

ETCD_BASE_DIR = '/opscmdb/dns/etc/named/'   # 配置文件根目录
ZONE_BASE_DIR = '/opscmdb/dns/var/named/zone/'			 # zone 文件跟目录
BIND_CONF = '/opscmdb/dns/etc/named.conf'				 # ETCD上保存 BIND 主配置文件
VIEW_DEFINE_CONF = ETCD_BASE_DIR + 'view_define.conf'    # ETCD上保存 VIEW 声明配置文件目录
# BIND 主配置文件默认配置内容
DEFAULT_BIND_CONF_CONTENT = '''// Global config                                                                                                                                                                             
                                                                                                                                                                                             
options {                                                                                                                                                                                    
        #listen-on port 53 { 127.0.0.1; };                                                                                                                                                   
        #listen-on-v6 port 53 { ::1; };                                                                                                                                                      
        directory       "/var/named/";                                                                                                                                                       
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";                                                                                            
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-query { any; };
        allow-query-cache { any; };
        allow-transfer  { };
        also-notify     { };

        #shanghai dns 
        forwarders { 202.96.199.133; 202.106.0.20; 202.96.209.5; 202.96.209.133; };
        allow-recursion { any; };
        recursion yes;

        dnssec-enable yes;
        dnssec-validation no;
        dnssec-lookaside auto;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        managed-keys-directory "/var/named/dynamic";
};

// 日志定义
logging {
    channel custom_log {
        file "data/named.log" versions 5 size 100m;
        print-time yes;
        severity dynamic;
    };

    channel query_log {
        file "data/query.log" versions 5 size 100m;
        print-time yes;
        severity info;
    };

    channel general_log {
        file "data/general.log" versions 5 size 100m;
        print-time yes;
        severity info;
    };

    category queries { query_log; };
    category default { custom_log; };
    category client  { custom_log; };
    category xfer-in { custom_log; };
    category general { general_log; };
};


//view define
include "/etc/named/view_define.conf";

//
'''      


# 服务器创建表单，<环境> 选择框的选项
SERVER_ENVS = ['qa', 'smoke', 'prod']


# DNSPOD 配置文件，只需配置TOKEN，未说明的变量，保持默认值即可
DNSPOD_TOKEN = "29999,qqqqqqqqecba2a214894a74ca4ba9b9d"     # DNSPOD token
DNSPOD_DATA_FORMAT = "json"             # DNSPOD 数据格式
DNSPOD_RECORD_BASE_URL = "https://dnsapi.cn/Record."
DNSPOD_DOMAIN_BASE_URL = "https://dnsapi.cn/Domain."
DNSPOD_LINE_URL = "https://dnsapi.cn/Record.Line"
DNSPOD_TYPE_URL = "https://dnsapi.cn/Record.Type"


# 使用 Zabbix 监控DNS服务器，主要获取DNS服务器状态，获取解析量等
ZABBIX_URL = "http://zabbix.proxy.test.com/api_jsonrpc.php"  #ZABBIX API 地址 (根据自己的zabbix api来设置URL)
ZABBIX_USERNAME = "test_admin"   #ZABBIX 用户名
ZABBIX_PASSWORD = "test_admin"   # 用户密码

#Swagger配置
SWAGGER_TEMPLATE = {
  "swagger": "2.0",
  "info": {
    "title": "PEB EVENT API",
    "description": "API for peb_event",
    "contact": {
      "responsibleOrganization": "ME",
      "responsibleDeveloper": "Me",
      "email": "me@me.com",
      "url": "www.me.com",
    },
    "termsOfService": "http://me.com/terms",
    "version": "1.0"
  },
  "securityDefinitions": {
    "UserSecurity": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      }
    },
  "basePath": "/",  # base bash for blueprint registration
  "schemes": [
    "http",
    "https"
  ],
  "operationId": "getmyData"
}


